---
import TmTitle from 'src/components/Astro/TmTitle.astro';

interface Props {
  dictionary: {
    title: string;
    mailTitle: string;
  };
  constants: {
    mailText: string;
    mailUrl: string;
    instagramTitle: string;
    instagramText: string;
    instagramUrl: string;
  };
}

const { dictionary, constants } = Astro.props;
---

<TmTitle title={dictionary.title} />
<div class="container">
  <div class="column">
    <span>{dictionary.mailTitle + ':'}</span>
    <a href={constants.mailUrl} target="_blank">
      <span>{constants.mailText}</span>
    </a>
  </div>
  <div class="column">
    <span>{constants.instagramTitle + ':'}</span>
    <a href={constants.instagramUrl} target="_blank">
      <span>{constants.instagramText}</span>
    </a>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
  }

  .column {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }

  a {
    color: black;
    transition: color 0.2s;
  }

  a:hover {
    color: #06f;
  }
</style>
