---
import type { AvailableLanguages } from 'src/types/language';
import TmNav from 'src/components/Astro/TmNav.astro';

interface Props {
  gigs: string;
  media: string;
  news: string;
  history: string;
  contact: string;
  language: AvailableLanguages;
}

const { gigs, media, news, history, contact, language } = Astro.props;
---

<input type="checkbox" id="nav-menu" />
<nav>
  <TmNav
    gigs={gigs}
    media={media}
    news={news}
    history={history}
    contact={contact}
    language={language}
  />
</nav>
<main
  onclick="document.querySelector('input').checked ? document.querySelector('input').click() : null"
>
  <slot />
</main>

<style>
  main {
    scrollbar-width: none;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    margin: 10px 10px;
    overflow: scroll;
    padding: 10px;
    scroll-behavior: smooth;
    width: calc(100% - 40px);
    height: calc(100% - 12.75em);
  }

  main:has(#nav-menu:checked) {
    overflow: hidden;
  }

  input {
    display: none;
  }

  nav {
    height: calc(100% - 164px);
    width: 80%;
    transform: translateX(-100%);
    position: absolute;
    z-index: 1;
    top: 73px;
    left: 0;
    background-color: lightgrey;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #nav-menu:checked ~ nav {
    transform: translateX(0%);
  }
</style>
