---
import { type AvailableLanguages } from 'src/types/language';
import { TmLanguageSelector } from 'src/components/Lit/TmLanguageSelector';
import { TmLink } from 'src/components/Lit/TmLink';

interface Props {
  gigs: string;
  media: string;
  news: string;
  history: string;
  contact: string;
  language: AvailableLanguages;
}

const { gigs, media, news, history, contact, language } = Astro.props;

const availableLanguages: { code: AvailableLanguages; name: string; flag: string }[] = [
  { code: 'ES', name: 'Español', flag: '\u{1F1EA}\u{1F1F8}' },
  { code: 'EN', name: 'English', flag: '\u{1F1EC}\u{1F1E7}' },
  { code: 'DE', name: 'Deutsch', flag: '\u{1F1E9}\u{1F1EA}' },
  { code: 'FR', name: 'Français', flag: '\u{1F1EB}\u{1F1F7}' },
  { code: 'IT', name: 'Italiano', flag: '\u{1F1EE}\u{1F1F9}' },
  { code: 'PT', name: 'Português', flag: '\u{1F1F5}\u{1F1F9}' },
];
---

<ul>
  <li>
    <TmLink client:visible><a class="nav" href="#gigs" target="_self">{gigs}</a></TmLink>
  </li>
  <li>
    <TmLink client:visible><a class="nav" href="#media" target="_self">{media}</a></TmLink>
  </li>
  <li>
    <TmLink client:visible><a class="nav" href="#news" target="_self">{news}</a></TmLink>
  </li>
  <li>
    <TmLink client:visible><a class="nav" href="#history" target="_self">{history}</a></TmLink>
  </li>
  <li>
    <TmLink client:visible><a class="nav" href="#contact" target="_self">{contact}</a></TmLink>
  </li>
</ul>

<TmLanguageSelector client:visible>
  <select aria-label="Language">
    {
      availableLanguages.map((lang) =>
        language === lang.code ? (
          <option value={lang.code} selected>
            {lang.flag} {lang.name}
          </option>
        ) : (
          <option value={lang.code}>
            {lang.flag} {lang.name}
          </option>
        )
      )
    }
  </select>
</TmLanguageSelector>

<style>
  select {
    width: fit-content;
    padding: 3px;
    font-size: 1.2em;
    font-family: monospace;
    text-transform: uppercase;
    border-radius: 10px;
  }

  ul {
    margin-top: 35px;
    padding-inline-start: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 40px;
    text-align: center;
  }

  .nav {
    font-size: 25px;
    text-decoration: none;
  }
</style>
