---
import { TmPostsModal } from 'src/components/Lit/TmPostsModal';
const { timestamp, permalink, media, caption, type, id, title } = Astro.props;
import type { ChildrenData } from 'src/types/posts';
let carousel: ChildrenData[] = [],
  video,
  image;
if (type === 'CAROUSEL_ALBUM') {
  carousel = media as ChildrenData[];
} else if (type === 'VIDEO') {
  video = media;
} else {
  image = media;
}
---

{
  permalink && (
    <a href={permalink} class="igPost">
      {timestamp} IG POST
    </a>
  )
}
{title && <span class="igPost">{`${timestamp} - ${title}`}</span>}
{!permalink && !title && <span class="igPost">{timestamp}</span>}
{caption && <p>{caption}</p>}
{
  image && (
    <TmPostsModal client:visible>
      <img loading="lazy" src={image} alt={title ? title : id ? id : 'alt'} />
    </TmPostsModal>
  )
}
{video && <video src={video} controls />}
{
  carousel &&
    carousel.map((carouselItem: ChildrenData) => {
      if (carouselItem.media_type === 'VIDEO') {
        return <video src={carouselItem.media_url} controls />;
      } else {
        return (
          <TmPostsModal client:visible>
            <img
              loading="lazy"
              src={carouselItem.media_url}
              alt={carouselItem.id ? carouselItem.id : 'alt'}
            />
          </TmPostsModal>
        );
      }
    })
}

<style>
  img {
    border-radius: 5px;
    width: 100%;
    scale: 0.99;
    transition: scale 0.2s;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    cursor: pointer;
  }

  img:hover {
    scale: 1;
  }

  .igPost {
    color: purple;
    transition: color 0.2s;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }

  .igPost:hover {
    color: blue;
  }

  p {
    white-space: pre-line;
  }

  video {
    width: 100%;
    height: auto;
  }
</style>
