---
// IMPORT COMPONENTS
import TmPost from 'src/components/Astro/TmPost.astro';
import { TmPostsButtons } from 'src/components/Lit/TmPostsButtons';

// GET ASTRO PROPS
const { locale, language } = Astro.props;

// IMPORT ALL POSTS
import type { PostsResponse } from 'src/types/posts';
import { getIgPosts } from 'src/utils/igPostsUtils';
const { posts }: { posts: PostsResponse[] } = await getIgPosts(locale, 4);

// IMPORT DICTIONARY
import { getDictionary } from 'src/locales/getDictionary';
const dictionary = getDictionary(language);
const totalPosts = posts.length - 1;
---

{
  posts.map((post, count) => {
    return (
      <>
        <article class="post">
          <TmPost
            timestamp={post.dateToShow}
            permalink={post.permalink}
            media={post.children.length > 0 ? post.children : post.media_url}
            caption={post.caption}
            type={post.media_type}
            id={post.id}
            title={post.title}
          />
        </article>
        {count === totalPosts && (
          <TmPostsButtons client:visible>
            <span slot="moreNews">{dictionary.Common.moreNews}</span>
            <span slot="closeNews">{dictionary.Common.closeContent}</span>
          </TmPostsButtons>
        )}
      </>
    );
  })
}

<style>
  .post {
    margin: 10px 0;
  }
</style>
