---
import Config from 'src/layouts/Config.astro';
import { TmDbItem } from 'src/components/Lit/TmDbItem';
import { checkUser } from 'src/utils/checkUser';
import { getGigs } from 'src/utils/gigsUtils';

const sessionCookie = Astro.cookies.get('session');
let verified;
if (sessionCookie) verified = await checkUser(sessionCookie);
if (!verified) return Astro.redirect('login');
const username = (verified && verified.username) || null;

const { upcomingGigs, pastGigs } = await getGigs('es_ES', 0);
---

<Config username={username}>
  <h1>CONCIERTOS EN BASE DE DATOS</h1>
  <h2>CONCIERTOS FUTUROS</h2>
  <table>
    <tr>
      <th>#</th>
      <th>name</th>
      <th>dateToShow</th>
      <th>date</th>
      <th>url</th>
    </tr>
    {
      upcomingGigs.map((gig, count) => {
        return (
          <tr>
            <td>
              <span>{count + 1}</span>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={gig.name}>{gig.name}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={gig.dateToShow}>{gig.dateToShow}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={gig.date}>{gig.date}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={gig.url}>{gig.url}</pre>
              </TmDbItem>
            </td>
          </tr>
        );
      })
    }
  </table>
  <h2>CONCIERTOS PASADOS</h2>
  <table>
    <tr>
      <th>#</th>
      <th>name</th>
      <th>dateToShow</th>
      <th>date</th>
      <th>url</th>
    </tr>
    {
      pastGigs.map((gig, count) => {
        return (
          <tr>
            <td>
              <span>{count + 1}</span>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={gig.name}>{gig.name}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={gig.dateToShow}>{gig.dateToShow}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={gig.date}>{gig.date}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={gig.url}>{gig.url}</pre>
              </TmDbItem>
            </td>
          </tr>
        );
      })
    }
  </table>
</Config>

<style>
  table {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    max-height: 300px;
    scrollbar-width: thin;
    border-collapse: collapse;
    overflow: scroll;
    display: block;
  }

  th,
  td {
    border: 1px solid #f2f2f2;
    padding: 8px;
    text-align: left;
  }

  tr {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #e5e0e0;
  }

  pre {
    text-overflow: ellipsis;
    width: fit-content;
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
  }
</style>
