---
import Config from 'src/layouts/Config.astro';
import { TmDbItem } from 'src/components/Lit/TmDbItem';
import { checkUser } from 'src/utils/checkUser';
import { getIgPosts } from 'src/utils/igPostsUtils';

const sessionCookie = Astro.cookies.get('session');
let verified;
if (sessionCookie) verified = await checkUser(sessionCookie);
if (!verified) return Astro.redirect('login');
const username = (verified && verified.username) || null;

const { posts } = await getIgPosts('es_ES', 0);
---

<Config username={username}>
  <h1>POSTS EN BASE DE DATOS</h1>
  <table>
    <tr>
      <th>#</th>
      <th>id</th>
      <th>caption</th>
      <th>date_timestamp</th>
      <th>dateToShow</th>
      <th>permalink</th>
      <th>media_type</th>
      <th>media_url</th>
      <th>children</th>
      <th>title</th>
    </tr>
    {
      posts.map((post, count) => {
        return (
          <tr>
            <td>
              <span>{count + 1}</span>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={post.id}>{post.id}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={post.caption}>{post.caption}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={post.date_timestamp}>{post.date_timestamp}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={post.dateToShow}>{post.dateToShow}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={post.permalink}>{post.permalink}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={post.media_type}>{post.media_type}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={post.media_url}>{post.media_url}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem>
                <pre title={post.children.toString()}>{post.children}</pre>
              </TmDbItem>
            </td>
            <td>
              <TmDbItem client:visible>
                <pre title={post.title}>{post.title}</pre>
              </TmDbItem>
            </td>
          </tr>
        );
      })
    }
  </table>
</Config>

<style>
  table {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    max-height: 300px;
    scrollbar-width: thin;
    border-collapse: collapse;
    overflow: scroll;
    display: block;
  }

  th,
  td {
    border: 1px solid #f2f2f2;
    padding: 8px;
    text-align: left;
  }

  tr {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #e5e0e0;
  }

  pre {
    text-overflow: ellipsis;
    width: fit-content;
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
  }
</style>
