---
const { data, pastGigsTitle, upcomingGigsTitle, locale } = Astro.props;
import gigs from './../json/gigs.json';
import TmPastGigs from './TmPastGigs.astro';
import TmUpcomingGigs from './TmUpcomingGigs.astro';
let pastGigs: (
    | { date: string; name: string; url?: string }
    | { date: string; name: string; url: string }
  )[] = [],
  upcomingGigs: (
    | { date: string; name: string; url?: undefined }
    | { date: string; name: string; url: string }
  )[] = [];
{
  gigs.map((gig) => {
    const dateString = gig.date;
    const dateParts = dateString.split('/');
    const date = new Date();
    date.setDate(Number(dateParts[0]));
    date.setMonth(Number(dateParts[1]) - 1);
    date.setFullYear(Number(dateParts[2]));

    date < new Date() ? pastGigs.push(gig) : upcomingGigs.push(gig);
  });
}
---

<span class="title section">{data}</span>
{upcomingGigs.length === 0 && pastGigs.length === 0 && <p>No gigs found</p>}
{
  upcomingGigs.length !== 0 && (
    <div>
      <span class="title gigs">{upcomingGigsTitle}</span>
      <ul>
        <TmUpcomingGigs data={upcomingGigs} locale={locale} />
      </ul>
    </div>
  )
}
{
  pastGigs.length !== 0 && (
    <div>
      <span class="title gigs">{pastGigsTitle}</span>
      <ul>
        <TmPastGigs data={pastGigs} locale={locale} />
      </ul>
    </div>
  )
}

<style>
  a {
    color: darkblue;
  }

  .title {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  .section {
    font-size: 1.5em;
    margin: 10px 0;
  }

  .gigs {
    font-size: 1.2em;
  }

  p {
    text-align: center;
  }

  div:last-child {
    border-radius: 10px;
    background-color: lightgrey;
    padding: 10px 10px;
  }

  ul {
    padding: 0;
  }
</style>
