---
import type { AvailableLanguages } from 'src/types/language';
import TmPastGigs from './TmPastGigs.astro';
import TmUpcomingGigs from './TmUpcomingGigs.astro';
import { type Gig } from './../types/gigs';
import gigs from '../../public/json/gigs.json';
import { splitGigs } from '../utils/gigsUtils';
interface Props {
  data: string;
  pastGigsTitle: string;
  upcomingGigsTitle: string;
  language: AvailableLanguages;
  locale: string;
}
const { data, pastGigsTitle, upcomingGigsTitle, language, locale } = Astro.props;

const { upcomingGigs, pastGigs }: { upcomingGigs: Gig[]; pastGigs: Gig[] } = splitGigs(gigs);
---

<span class="title section">{data}</span>
{upcomingGigs.length === 0 && pastGigs.length === 0 && <p>No gigs found</p>}
{
  upcomingGigs.length !== 0 && (
    <div>
      <span class="title gigs">{upcomingGigsTitle}</span>
      <ul id="upcomingGigs">
        <TmUpcomingGigs data={upcomingGigs} locale={locale} />
      </ul>
    </div>
  )
}
{
  pastGigs.length !== 0 && (
    <div>
      <span class="title gigs">{pastGigsTitle}</span>
      <ul id="pastGigs">
        <TmPastGigs data={pastGigs} locale={locale} language={language} />
      </ul>
    </div>
  )
}

<style>
  a {
    color: darkblue;
  }

  .title {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  .section {
    font-size: 1.5em;
    margin: 10px 0;
  }

  .gigs {
    font-size: 1.2em;
  }

  p {
    text-align: center;
  }

  div:last-child {
    border-radius: 10px;
    background-color: #ddd;
    padding: 10px 10px;
  }

  ul {
    padding: 0;
  }
</style>
