---
import { type AvailableLanguages } from 'src/types/language';
import TmLink from './/TmLink.astro';

interface Props {
  gigs: string;
  media: string;
  news: string;
  history: string;
  contact: string;
  language: AvailableLanguages;
}

const { gigs, media, news, history, contact, language } = Astro.props;

const availableLanguages: { code: AvailableLanguages; name: string; flag: string }[] = [
  { code: 'ES', name: 'Español', flag: '\u{1F1EA}\u{1F1F8}' },
  { code: 'EN', name: 'English', flag: '\u{1F1EC}\u{1F1E7}' },
  { code: 'DE', name: 'Deutsch', flag: '\u{1F1E9}\u{1F1EA}' },
  { code: 'FR', name: 'Français', flag: '\u{1F1EB}\u{1F1F7}' },
  { code: 'IT', name: 'Italiano', flag: '\u{1F1EE}\u{1F1F9}' },
  { code: 'PT', name: 'Português', flag: '\u{1F1F5}\u{1F1F9}' },
];
---

<ul>
  <li>
    <label for="nav-menu"
      ><TmLink
        onclick="document.querySelector('input').click()"
        classes="nav"
        href={language === 'ES' ? '/#gigs' : `/${language.toLowerCase()}/#gigs`}
        target="_self"
      >
        {gigs}
      </TmLink></label
    >
  </li>
  <li>
    <label for="nav-menu"
      ><TmLink
        onclick="document.querySelector('input').click()"
        classes="nav"
        href={language === 'ES' ? '/#media' : `/${language.toLowerCase()}/#media`}
        target="_self"
      >
        {media}
      </TmLink></label
    >
  </li>
  <li>
    <label for="nav-menu"
      ><TmLink
        onclick="document.querySelector('input').click()"
        classes="nav"
        href={language === 'ES' ? '/#news' : `/${language.toLowerCase()}/#news`}
        target="_self"
      >
        {news}
      </TmLink></label
    >
  </li>
  <li>
    <label for="nav-menu"
      ><TmLink
        onclick="document.querySelector('input').click()"
        classes="nav"
        href={language === 'ES' ? '/#history' : `/${language.toLowerCase()}/#history`}
        target="_self"
      >
        {history}
      </TmLink></label
    >
  </li>
  <li>
    <label for="nav-menu"
      ><TmLink
        onclick="document.querySelector('input').click()"
        classes="nav"
        href={language === 'ES' ? '/#contact' : `/${language.toLowerCase()}/#contact`}
        target="_self"
      >
        {contact}
      </TmLink></label
    >
  </li>
</ul>

<script is:inline defer>
  const pathname = location.pathname;
  pathname === 'tago_site';
</script>

<select
  aria-label="Language"
  onchange="location.hash = '', location.pathname = this.value.toLowerCase() !== 'es' ? `${this.value.toLowerCase()}/` : ''"
>
  {
    availableLanguages.map((lang) =>
      language === lang.code ? (
        <option value={lang.code} selected>
          {lang.flag} {lang.name}
        </option>
      ) : (
        <option value={lang.code}>
          {lang.flag} {lang.name}
        </option>
      ),
    )
  }
</select>

<style>
  select {
    width: fit-content;
    padding: 3px;
    font-size: 1.2em;
    font-family: monospace;
    text-transform: uppercase;
    border-radius: 10px;
  }

  ul {
    margin-top: 35px;
    padding-inline-start: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 40px;
    text-align: center;
  }
</style>
