---
import TmLink from './TmLink.astro';
const { locale, timestamp, permalink, media, caption, type, id, title, aspect_ratio, language } =
  Astro.props;
import type { ChildrenDatum } from '../types/posts';
let carousel: ChildrenDatum[] = [],
  video,
  image;
if (type === 'CAROUSEL_ALBUM') {
  carousel = media as ChildrenDatum[];
} else if (type === 'VIDEO') {
  video = media;
} else {
  let imagePath = media;
  if (language !== 'ES') imagePath = `../${imagePath}`;
  image = imagePath;
}
const formatAspectRatio = (aspect_ratio: string) => {
  return aspect_ratio ? 'aspect-ratio: ' + aspect_ratio : 'auto';
};
const formattedDate: Date = new Date(timestamp);
const formattedLocaleDate = formattedDate.toLocaleDateString(locale.replace('_', '-'), {
  year: 'numeric',
  month: '2-digit',
  day: '2-digit',
});
---

{
  permalink && (
    <TmLink classes="igPost" href={permalink}>
      {formattedLocaleDate} IG POST
    </TmLink>
  )
}
{title && <span class="igPost">{`${formattedLocaleDate} - ${title}`}</span>}
{!permalink && !title && <span class="igPost">{formattedLocaleDate}</span>}
<p>{caption}</p>
{
  image && (
    <img
      style={formatAspectRatio(aspect_ratio)}
      src={image}
      alt={title ? title : id ? id : 'alt'}
    />
  )
}
{video && <video src={video} controls />}
{
  carousel &&
    carousel.map((carouselItem: ChildrenDatum) => {
      if (carouselItem.media_type === 'VIDEO') {
        return <video src={carouselItem.media_url} controls />;
      } else if (carouselItem.media_type === 'IMAGE') {
        let imagePath = carouselItem.media_url;
        if (language !== 'ES') imagePath = `../${imagePath}`;
        return (
          <img
            style={carouselItem.aspect_ratio && formatAspectRatio(carouselItem.aspect_ratio)}
            src={imagePath}
            alt={carouselItem.id ? carouselItem.id : 'alt'}
          />
        );
      }
      return null;
    })
}

<style>
  img {
    width: 100%;
    height: auto;
  }
  p {
    white-space: pre-line;
  }

  video {
    width: 100%;
    height: auto;
  }

  .igPost {
    color: purple;
    font-weight: bold;
  }
</style>
