---
// IMPORT COMPONENTS
import TmPost from './TmPost.astro';

// IMPORT TYPES
import { type MediaDatum } from '../types/posts';

// IMPORT SERVICES
import { getIgPostsData } from '../services/igPosts';
const igPostsLimit = 4;
const igPosts = (await getIgPostsData('', igPostsLimit)) as MediaDatum[];

// IMPORT MANUAL NEWS
import json from '../json/manualNews.json';
const manualNews: MediaDatum[] = json as MediaDatum[];

// CREATE TOTAL POSTS ARRAY
const totalPosts: MediaDatum[] = [];

// GET ASTRO PROPS
const { locale, language } = Astro.props;

// COMBINE IG POSTS AND MANUAL NEWS
igPosts.map((post) => {
  if (post.media_type === 'IMAGE') {
    post.media_url = `assets/images/compressed/${post.id}.webp`;
    if (language !== 'ES') {
      post.media_url = '../' + post.media_url;
    }
  } else if (post.media_type === 'CAROUSEL_ALBUM') {
    post.children?.data.map((child) => {
      child.media_url = `assets/images/compressed/${child.id}.webp`;
      if (language !== 'ES') {
        child.media_url = '../' + child.media_url;
      }
    });
  }
  totalPosts.push(post);
});

// FORMAT MANUAL NEWS DATES
manualNews.map((post) => {
  const day = post.timestamp.split('/')[0];
  const month = post.timestamp.split('/')[1];
  const year = post.timestamp.split('/')[2];
  post.timestamp = new Date(`${year}-${month}-${day}`).toString();
  if (language !== 'ES' && post.media_url !== undefined) {
    post.media_url = '../' + post.media_url;
  }
  totalPosts.push(post);
});

// SORT TOTAL POSTS BY DATE
totalPosts.sort((a, b) => Number(new Date(b.timestamp)) - Number(new Date(a.timestamp)));

// IMPORT DICTIONARY
import { getDictionary } from '../locales/getDictionary';
const dictionary = getDictionary(language);
---

{
  totalPosts.map((post, count) => {
    if (count < 3) {
      return (
        <div class="post">
          <TmPost
            locale={locale}
            timestamp={post.timestamp}
            permalink={post.permalink}
            media={post.children ? post.children.data : post.media_url}
            caption={post.caption}
            type={post.media_type}
            title={post.title}
          />
        </div>
      );
    } else if (count === 3) {
      return (
        <>
          <div class="post">
            <TmPost
              locale={locale}
              timestamp={post.timestamp}
              permalink={post.permalink}
              media={post.children ? post.children.data : post.media_url}
              caption={post.caption}
              type={post.media_type}
              title={post.title}
            />
          </div>
          <div id="navigationButtons">
            <button id="moreNews">{dictionary.Common.moreNews}</button>
            <button id="closeNews" style="display: none;">
              {dictionary.Common.closeNews}
            </button>
          </div>
        </>
      );
    }
  })
}
<script defer>
  const createDivElement = () => {
    const div = document.createElement('div');
    div.className = 'post';
    div.style.margin = '10px 0';
    return div;
  };

  const createAElement = (post) => {
    const a = document.createElement('a');
    a.innerText = `${new Date(post.timestamp).toLocaleDateString()} - IG POST`;
    a.href = post.permalink;
    a.target = '_blank';
    a.style.color = 'purple';
    a.style.fontWeight = 'bold';
    return a;
  };

  const createSpanElement = (post) => {
    const span = document.createElement('span');
    span.innerText = `${new Date(post.timestamp).toLocaleDateString()} - ${post.title}`;
    span.style.color = 'black';
    span.style.fontWeight = 'bold';
    return span;
  };

  const createPElement = (post) => {
    const p = document.createElement('p');
    p.innerText = post.caption;
    return p;
  };

  const createImgElement = (post) => {
    const img = document.createElement('img');
    img.src = post.media_url;
    img.alt = post.id;
    img.style.width = '100%';
    return img;
  };

  const createVideoElement = (post) => {
    const video = document.createElement('video');
    video.src = post.media_url;
    video.controls = true;
    video.style.width = '100%';
    return video;
  };

  const createPostElement = (post) => {
    const div = createDivElement();
    if (!post.title) {
      const a = createAElement(post);
      div.appendChild(a);
    } else {
      const span = createSpanElement(post);
      div.appendChild(span);
    }
    if (post.caption) {
      const p = createPElement(post);
      div.appendChild(p);
    }
    if (post.media_url) {
      if (post.media_type === 'IMAGE') {
        const img = createImgElement(post);
        div.appendChild(img);
      } else if (post.media_type === 'VIDEO') {
        const video = createVideoElement(post);
        div.appendChild(video);
      } else if (post.media_type === 'CAROUSEL_ALBUM') {
        post.children.data.map((child) => {
          if (child.media_type === 'IMAGE') {
            const img = createImgElement(child);
            div.appendChild(img);
          } else if (child.media_type === 'VIDEO') {
            const video = createVideoElement(child);
            div.appendChild(video);
          }
        });
      }
    }
    return div;
  };

  const addMoreNews = (posts, length) => {
    posts.map((post) => {
      const postElement = createPostElement(post);
      document
        .getElementById('news')
        ?.insertBefore(postElement, document.getElementById('navigationButtons'));
      if (document.getElementsByClassName('post').length > 4) {
        showButton('closeNews');
      } else {
        hideButton('closeNews');
      }
      if (length === document.getElementsByClassName('post').length) {
        hideButton('moreNews');
      }
    });
  };

  const moreNewsButton = document.getElementById('moreNews');
  if (moreNewsButton)
    moreNewsButton.onclick = async () => {
      const jsonPosts = await getJsonPosts();
      addMoreNews(jsonPosts.posts, jsonPosts.length);
    };

  const closeNews = () => {
    removePosts();
    hideButton('closeNews');
    showButton('moreNews');
  };
  const closeNewsButton = document.getElementById('closeNews');
  if (closeNewsButton)
    closeNewsButton.onclick = () => {
      closeNews();
    };

  const hideButton = (buttonId) => {
    const button = document.getElementById(buttonId);
    if (button) button.style.display = 'none';
  };

  const showButton = (buttonId) => {
    const button = document.getElementById(buttonId);
    if (button) button.style.display = 'block';
  };

  const getJsonPosts = async () => {
    const jsonPath = location.pathname.length > 1 ? '../json/igPosts.json' : 'json/igPosts.json';
    const response = await fetch(jsonPath);
    const data = await response.json();
    const posts = document.getElementsByClassName('post');
    const dataToAppend = data.slice(posts.length, posts.length + 4);
    return { posts: dataToAppend, length: data.length };
  };

  const removePosts = () => {
    const posts = document.getElementsByClassName('post');
    for (let i = posts.length - 1; i > 3; i--) {
      posts[i].remove();
    }
  };
</script>

<style>
  button {
    border-color: black;
    border-radius: 6px;
    color: black;
    font-size: 15px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }

  .post {
    margin: 10px 0;
  }
</style>
