---
// IMPORTS
import fs from 'fs';

// IMPORT COMPONENTS
import TmPost from './TmPost.astro';

// IMPORT TYPES
import type { Post, ChildrenData } from '../types/posts';

// IMPORT ALL POSTS
fs.existsSync('public/json') || fs.mkdirSync('public/json');
fs.existsSync('public/json/igPosts.json') ||
  fs.writeFileSync(
    'public/json/igPosts.json',
    JSON.stringify({ posts: [], lastDate: new Date().setFullYear(1) }, null, 2)
  );
const postsJson = JSON.parse(fs.readFileSync('public/json/igPosts.json', 'utf-8'));

// IMPORT UTILS
import { getAllIgPostsData } from '../utils/igPostsUtils';

const igPostsLimit = 4;
// let updateImages = false;
const getPosts = async () => {
  const currentDateDiff = Date.now() - postsJson.lastDate;
  const maxHoursToRefresh = 12;
  if (currentDateDiff < maxHoursToRefresh * 3600 * 1000) {
    return postsJson.posts as Post[];
  } else {
    console.log('Fetching new posts');
    const posts = await getAllIgPostsData('');
    fs.writeFileSync(
      'public/json/igPosts.json',
      JSON.stringify({ posts, lastDate: Date.now() }, null, 2)
    );
    return posts as Post[];
  }
};
const allPosts = await getPosts();
allPosts.map((post: Post) => {
  if (post.media_type === 'IMAGE') {
    post.media_url = 'assets/images/placeholder.webp';
  }
  if (post.media_type === 'CAROUSEL_ALBUM' && post.children) {
    post.children.data.map((child: ChildrenData) => {
      child.media_url = 'assets/images/placeholder.webp';
    });
  }
});
const totalPosts: Post[] = allPosts.slice(0, igPostsLimit) as Post[];

// GET ASTRO PROPS
const { locale, language } = Astro.props;

// IMPORT DICTIONARY
import { getDictionary } from '../locales/getDictionary';
const dictionary = getDictionary(language);
---

{
  totalPosts.map((post, count) => {
    if (count < 3) {
      return (
        <article class="post">
          <TmPost
            locale={locale}
            timestamp={post.timestamp}
            permalink={post.permalink}
            media={post.children ? post.children.data : post.media_url}
            caption={post.caption}
            type={post.media_type}
            id={post.id}
            title={post.title}
            language={language}
            aspect_ratio={post.aspect_ratio}
          />
        </article>
      );
    } else if (count === 3) {
      return (
        <>
          <article class="post">
            <TmPost
              locale={locale}
              timestamp={post.timestamp}
              permalink={post.permalink}
              media={post.children ? post.children.data : post.media_url}
              caption={post.caption}
              type={post.media_type}
              id={post.id}
              title={post.title}
              language={language}
              aspect_ratio={post.aspect_ratio}
            />
          </article>
          <div id="postNavigationButtons">
            <button id="moreNews">{dictionary.Common.moreNews}</button>
            <button id="closeNews" style="display: none;">
              {dictionary.Common.closeContent}
            </button>
          </div>
        </>
      );
    }
  })
}
<script is:inline defer>
  const createArticleElement = () => {
    const article = document.createElement('article');
    article.className = 'post';
    article.style.margin = '10px 0';
    return article;
  };

  const createTitleSpanElement = (post) => {
    const span = document.createElement('span');
    span.innerText = `${new Date(post.timestamp).toLocaleDateString()} - IG POST`;
    span.onclick = () => open(post.permalink);
    span.style.color = 'purple';
    span.style.fontSize = '1.25em';
    span.style.fontWeight = 'bold';
    span.style.textDecoration = 'underline';
    span.style.cursor = 'pointer';
    return span;
  };

  const createSpanElement = (post) => {
    const span = document.createElement('span');
    const timestamp = new Date(post.timestamp).toLocaleDateString();
    const title = post.title;
    const separator = title !== '' ? ' - ' : '';
    span.innerText = `${timestamp}${separator}${title}`;
    span.style.color = 'black';
    span.style.fontWeight = 'bold';
    return span;
  };

  const createPElement = (post) => {
    const p = document.createElement('p');
    p.innerText = post.caption;
    return p;
  };

  const createImgElement = (post) => {
    const img = document.createElement('img');
    location.pathname.length > 1 ? (img.src = `../${post.media_url}`) : (img.src = post.media_url);
    img.alt = post.id ? post.id : post.title ? post.title : 'alt';
    img.style.width = '100%';
    img.style.aspectRatio = post.aspect_ratio;
    return img;
  };

  const createVideoElement = (post) => {
    const video = document.createElement('video');
    video.src = post.media_url;
    video.controls = true;
    video.style.width = '100%';
    return video;
  };

  const createPostElement = (post) => {
    const article = createArticleElement();
    if (!post.title) {
      const titleSpan = createTitleSpanElement(post);
      article.appendChild(titleSpan);
    } else {
      const span = createSpanElement(post);
      article.appendChild(span);
    }
    if (post.caption) {
      const p = createPElement(post);
      article.appendChild(p);
    }
    if (post.media_url) {
      if (post.media_type === 'IMAGE') {
        const img = createImgElement(post);
        article.appendChild(img);
      } else if (post.media_type === 'VIDEO') {
        const video = createVideoElement(post);
        article.appendChild(video);
      } else if (post.media_type === 'CAROUSEL_ALBUM') {
        post.children.data.map((child) => {
          if (child.media_type === 'IMAGE') {
            const img = createImgElement(child);
            article.appendChild(img);
          } else if (child.media_type === 'VIDEO') {
            const video = createVideoElement(child);
            article.appendChild(video);
          }
        });
      }
    }
    return article;
  };

  const addMoreNews = (posts, length) => {
    posts.map((post) => {
      const postElement = createPostElement(post);
      document
        .getElementById('news')
        ?.insertBefore(postElement, document.getElementById('postNavigationButtons'));
      if (document.getElementsByClassName('post').length > 4) {
        showButton('closeNews');
      } else {
        hideButton('closeNews');
      }
      if (length === document.getElementsByClassName('post').length) {
        hideButton('moreNews');
      }
    });
  };

  const moreNewsButton = document.getElementById('moreNews');
  if (moreNewsButton)
    moreNewsButton.onclick = async () => {
      const jsonPosts = await getJsonPosts();
      addMoreNews(jsonPosts.posts, jsonPosts.length);
    };

  const closeNews = () => {
    removePosts();
    hideButton('closeNews');
    showButton('moreNews');
  };
  const closeNewsButton = document.getElementById('closeNews');
  if (closeNewsButton)
    closeNewsButton.onclick = () => {
      closeNews();
    };

  const hideButton = (buttonId) => {
    const button = document.getElementById(buttonId);
    if (button) button.style.display = 'none';
  };

  const showButton = (buttonId) => {
    const button = document.getElementById(buttonId);
    if (button) button.style.display = 'block';
  };

  const getJsonPosts = async () => {
    let data;
    if (localStorage.getItem('igPosts')) {
      data = JSON.parse(localStorage.getItem('igPosts'));
    } else {
      const jsonPath = location.pathname.length > 1 ? '../json/igPosts.json' : 'json/igPosts.json';
      const response = await fetch(jsonPath);
      data = await response.json();
      localStorage.setItem('igPosts', JSON.stringify(data));
    }
    const posts = document.getElementsByClassName('post');
    const dataToAppend = data.slice(posts.length, posts.length + 4);
    return { posts: dataToAppend, length: data.length };
  };

  window.onbeforeunload = () => {
    localStorage.removeItem('igPosts');
  };

  const removePosts = () => {
    const posts = document.getElementsByClassName('post');
    for (let i = posts.length - 1; i > 3; i--) {
      posts[i].remove();
    }
  };

  document.addEventListener('DOMContentLoaded', function () {
    const loquesea = () => {
      fetch('getIgPosts')
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          const images = document.getElementsByTagName('img');
          for (let i = 0; i < images.length; i++) {
            if (images[i].src.indexOf('placeholder') > -1) {
              data.transformedIgImages.includes(images[i].alt) &&
                (images[i].src = `assets/images/compressed/${images[i].alt}.webp`);
            }
          }
        })
        .catch((error) => console.error('Error:', error));
    };
    loquesea();
  });
</script>

<style>
  img {
    border-radius: 6px;
  }
  button {
    border-color: black;
    border-radius: 6px;
    color: black;
    font-size: 15px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }

  .post {
    margin: 10px 0;
  }
</style>
