---
import { HEAD } from 'src/locales/commonData';
import { getDictionary } from 'src/locales/getDictionary';
import type { AvailableLanguages, AvailableLocales } from 'src/types/language';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  language: AvailableLanguages;
  locale: AvailableLocales;
}

const { language, locale } = Astro.props;
const dictionary = getDictionary(language);
---

<!doctype html>
<html lang={language.toLowerCase()}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href={HEAD.favicon} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta charset="UTF-8" />
    <title>{HEAD.title}</title>
    <!-- Search Engine -->
    <meta name="description" content={dictionary.Head.description} />
    <meta name="image" content={HEAD.img} />
    <!-- Schema.org for Google -->
    <meta itemprop="name" content={HEAD.title} />
    <meta itemprop="description" content={dictionary.Head.description} />
    <meta itemprop="image" content={HEAD.img} />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={HEAD.title} />
    <meta name="twitter:description" content={dictionary.Head.description} />
    <meta name="twitter:image:src" content={HEAD.img} />
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content={HEAD.title} />
    <meta name="og:description" content={dictionary.Head.description} />
    <meta name="og:image" content={HEAD.img} />
    <meta name="og:url" content={HEAD.url} />
    <meta name="og:site_name" content={HEAD.title} />
    <meta name="og:locale" content={locale} />
    <meta name="og:type" content="website" />
    <!-- PWA -->
    <link rel="manifest" href="/./assets/images/manifest.webmanifest" />
    <meta name="theme-color" content="#c48ef3" />
    <!-- /META -->
    <style>
      * {
        touch-action: manipulation;
      }

      html,
      body {
        margin: 0;
        font-family: monospace;
        font-size: 1rem;
        background: #f5f5f5;
        display: block;
        scrollbar-width: none;
        height: 100%;
        width: 100%;
        animation: backgroundAnimation 60s infinite alternate;
        overscroll-behavior-x: none;
        overscroll-behavior-y: none;
      }

      @keyframes backgroundAnimation {
        0% {
          background-color: #f5f5f5; /* whitesmoke */
        }
        20% {
          background-color: #b0c4de; /* lightsteelblue */
        }
        40% {
          background-color: #9370db; /* mediumpurple */
        }
        60% {
          background-color: #7b68ee; /* mediumslateblue */
        }
        80% {
          background-color: #6a5acd; /* slateblue */
        }
        100% {
          background-color: #8a2be2; /* blueviolet */
        }
      }
    </style>
    <ViewTransitions />
  </head>
  <body id="body">
    <slot />
  </body>
</html>
